* {
    box-sizing: border-box;
    user-select: none;

}

body {
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    width: 80vw;
}

/*iphone*/
@media (max-width: 500px) {
    body {
        width: 90vw;
        margin: 0 auto;
    }
}

/*ipad*/
@media (max-width: 810px) {
    body {
        width: 90vw;
        margin: 0 auto;
    }
}