/*
<h1>: 2em ή 32px (2 * 16px) | <h2>: 1.5em ή 24px (1.5 * 16px) | <h3>: 1.17em ή 18.72px (1.17 * 16px) | <h4>: 1.0em ή 16px (1 * 16px)
<h5>: 0.83em ή 13.28px (0.83 * 16px) | <h6>: 0.67em ή 10.72px (0.67 * 16px)
*/

#Menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-size: 2rem;
}

#euclidTitlePart {
    color: rgb(12, 150, 242);
}

#analysisTitlePart {
    background-color: rgb(12, 150, 242);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px 20px 20px 5px;
}

#primaryNavList {
    list-style-type: none;
    height: 100%;
    margin: 0%;
}

.listItem {
    display: inline-block;
    position: relative;
    margin: 0 12px;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.5em;
    text-align: center;
}

#primaryNavList .listItem:nth-child(4) {
    margin-right: 0;
    padding-right: 0;
}

.primaryNavLink {
    color: rgb(12, 150, 242);
    text-decoration: none;
    /* Κατάργηση υπογραμμίσεων */
}

.primaryNavLink:focus {
    outline: none;
    color: blue;
}

.primaryNavLink:hover {
    color: blue;
}

.primaryNavLink:active {
    color: blue;
}

@media (max-width: 500px) {
    nav {
        display: none;
    }
}

@media (max-width: 810px) {
    #title {
        font-size: 1.5rem;
    }
    
    #primaryNavList .listItem:nth-child(4) {
        display: none;
    }
    .listItem
    {
        font-size: 1.4rem;
    }
}